@using System.Web.Configuration
@using Vidly.Models
@using Vidly.ViewModels
@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

<h2>Movies</h2>

<h3 class="@className">Movie</h3>

@if (Model.Customers.Count == 0)
{
    <text>Nessuno ha ancora affittato questo film.</text>
}
else
{
    <ul>
        @foreach (var movie in Model.Movies)
        {    
            <li>@Html.ActionLink(movie.Name,"showMovie","Movies",movie.Id)</li>
        }
    </ul>
}



